{% extends "base.html" %} {% block title %} Select expert {% endblock %} {% block content %}
<div class="container">
    <h1>Select expert</h1>
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <select id='select_expert'>
             <option selected >Select expert</option>
             {% for expert in experts %}
               <option value="{{expert.id}}">{{expert.name}}</option>
             {% endfor %}
         </select>
        <button class="btn waves-effect waves-light" type="submit">Select time slots</button>
    </form>
    <a class="btn waves-effect waves-light" href="{% url 'core:add_expert' %}">Add expert</a>
</div>
{% endblock %} {% block extra_javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        options = {

        }
        var instances = M.FormSelect.init(elems, options);
    });
    selectExpert = document.getElementById('select_expert');
    selectExpert.onchange = function selectExpertOnChange(event) {
        document.getElementById('id_expert_id').value = event.target.value;
        console.log('Event fired');
    }
</script>
{% endblock %}